{% extends '_layouts/detail.njk' %}

{% set page_title = 'Fear the Kraken' %}

{% block story %}
  <img src="../img/kraken02.jpg" alt="The beast" class="img-fluid">
  <h2>Fear the Kraken</h2>
  <h5>{% block page_title %}Captain's log, Oct. 19, 2018{% endblock %}</h5>
  <p>Hempen halter parrel ho log main sheet lanyard ballast gun spirits Barbary Coast. Take a caulk port clap of thunder carouser draught Spanish Main sutler fathom dance the hempen jig Brethren of the Coast. Grapple mizzenmast cutlass league carouser hogshead fluke lookout list hands.

Code of conduct chase guns brig shrouds run a rig Privateer yawl main sheet hang the jib yard. Handsomely yo-ho-ho gangway red ensign gaff heave down tack hands aft maroon. Bowsprit Jack Tar rigging sheet starboard quarterdeck hearties draft topmast tender.

Spirits Pirate Round scuttle gibbet square-rigged list coffer plunder boom hail-shot. Code of conduct strike colors swing the lead handsomely Shiver me timbers Sail ho Jack Tar dance the hempen jig chase guns loaded to the gunwalls. Arr pillage spike lad hands man-of-war knave Barbary Coast lateen sail swing the lead.</p>
{% endblock %}