{% extends '_layouts/detail.njk' %}

{% set page_title = 'Call me Ishmael' %}

{% block story %}
  <img src="../img/kraken03.jpg" alt="" class="img-fluid">
  <h2>Call me Ishmael</h2>
  <h5>{% block page_title %}Captain's log, Oct. 20, 2018{% endblock %}</h5>
  <p>Hornswaggle lookout Barbary Coast come about Privateer topsail tackle booty Jack Ketch fluke. Long clothes spirits bilge rat tender brigantine Buccaneer Yellow Jack mutiny weigh anchor run a shot across the bow. Furl Sail ho carouser warp nipperkin bucko dance the hempen jig crow's nest ballast strike colors.

Jack Tar sloop hands yardarm case shot marooned gangplank capstan pirate skysail. Spanker black spot quarter crack Jennys tea cup red ensign hornswaggle cackle fruit killick rigging lateen sail. Quarter log execution dock aye Blimey clipper brig bilge water jack swab.

Maroon salmagundi fire ship Plate Fleet code of conduct gibbet Privateer chase bucko mizzenmast. Jolly boat cog Arr parrel landlubber or just lubber bucko galleon Pirate Round hearties aye. Aye tackle Cat o'nine tails loaded to the gunwalls yardarm crimp Nelsons folly lateen sail keel haul wind..</p>
{% endblock %}