{% extends '_layouts/base.njk' %}

{% block page_title %}Capt. McGillicuty's Blog{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-1">
    <h1>Anchors aweigh!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 offset-1">
      <p>
        Welcome aboard me B-log. It be a newfangled type o' ledger, not made out of paper at all. Talk about a low carrrbon footprint! Here I be recountin' me ocean voyages and the strange and terrifyin' things that lurk below the waves. Read on at yer own peril.
      </p>
      {% for entry in data.entries %}
        <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
        <p class="entry-date">{{ entry.date }}</p>
        <hr>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
